* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}

/* background-color: #264653; */

.navbar {
    height: 10vh;
    width: 100%;
    padding: 0px 80px;
    background-color: #264653;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px black;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1000;
}

.logo-side {
    display: flex;
    gap: 5px;
    align-items: center;
}

.logo-image {
    height: 40px;
    width: 150px;
}

.manu-list {
    display: flex;
    gap: 35px;
    list-style: none;
}

.link-tag {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: .5s;
    border-radius: 8px;
    font-weight: bold;
}

.link-tag:hover {
    color: #CF1A13;
}

.banner {
    height: 90vh;
    width: 100%;
    padding: 0px 80px;
    background-color: #264653;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-left {
    width: 50%;
}

.banner-left p {
    color: white;
    padding: 12px 0px;
}

.banner-left h1 {
    font-size: 45px;
    color: white;
}

.banner-right {
    width: 50%;
    display: flex;
    justify-content: end;
}

.banner-btn {
    margin-top: 15px;
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    background-color: #CF1A13;
    color: white;
    font-size: 18px;
    transition: .5s;
}

.banner-btn:hover {
    background-color: white;
    color: #CF1A13;
    box-shadow: 0px 0px 10px black;
}

.about {
    height: 90vh;
    width: 100%;
    padding: 0px 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.about-left {
    width: 60%;
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.about-image {
    height: 70vh;
}

.about-right {
    padding-top: 50px;
    width: 40%;
}


.price-list {
    border: 1px solid #264653;
    border-collapse: collapse;
    color: #CF1A13;
    width: 100%;
}

.table-head {
    padding: 10px;
    border: 1px solid #264653;
    text-align: left;
}

.table-heading {
    text-align: left;
    padding: 12px 10px;
    font-size: 20px;
    color: #264653;
}

.top-features {
    padding-top: 30px;
}

.top-table {
    border: 1px solid #264653;
    width: 100%;
    border-collapse: collapse;
}

.top-heading {
    text-align: left;
    padding: 12px 10px;
    font-size: 20px;
    color: #264653;
}

.top-data {
    border: 1px solid #264653;
    padding: 10px;
}

.service {
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 40px 80px;
}

.dtails {
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 0px 80px;
}

.dtails h1 {
    text-decoration: underline;
    padding: 10px 0px;
    color: #264653;
}

.dtails p {
    padding: 0px 0px 20px 0px;
}

.dtails h5 {
    text-decoration: underline;
    font-size: 15px;
    color: #264653;
}

.btn {
    padding: 8px 20px;
    font-weight: bold;
    margin: 5px 0px 10px 0px;
    background-color: #CF1A13;
    border: none;
    border-radius: 5px;
    color: white;
    display: flex;
    gap: 5px;
    align-items: center;
}

.service h1 {
    text-align: center;
    color: #264653;
    font-size: 40px;
    padding-bottom: 30px;
}

.card-contener {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.card {
    width: 100%;
    border: 1px solid #264653;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    height: 300px;
    width: 100%;
}

.card h4 {
    font-size: 25px;
    padding: 10px 0px 15px 0px;
    color: #CF1A13;
}

.card p {
    text-align: center;
}