* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}

/* background-color: #264653; */

.navbar {
    height: 10vh;
    width: 100%;
    padding: 0px 80px;
    background-color: #264653;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px red;
}

.logo-side {
    display: flex;
    gap: 5px;
    align-items: center;
}

.logo-image {
    height: 40px;
    width: 150px;
}

.manu-list {
    display: flex;
    gap: 35px;
    list-style: none;
}

.link-tag {
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    padding: 5px 10px;
    transition: .5s;
    border-radius: 8px;
}

.link-tag:hover {
    border: 2px solid red;
    color: red;
}

.banner {
    height: 90vh;
    width: 100%;
    background-color: #264653;
}